<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072617575181-5pr89vl1lguhm3btl6amc7bm4c0ed55j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072617575181-5pr89vl1lguhm3btl6amc7bm4c0ed55j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1072617575181-jheb2tdmhiri2m6j8mvr1jpas69p5bbp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoUi_Vcoyw5up2jc7UrVtd_WbmlZYBIi0</string>
	<key>GCM_SENDER_ID</key>
	<string>1072617575181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.partnerSelfie</string>
	<key>PROJECT_ID</key>
	<string>flashoot-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flashoot-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072617575181:ios:4621e45430e942edb49644</string>
</dict>
</plist>